body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  font-size: larger;
  color: black;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: darkgray;
}
button {
  font-size: larger;
  margin-left: 15px;
  background: Orange;
  border-radius: 5px;
  border: none;
  outline: none;
}
span {
  margin-left: 5px;
  padding: 5px 15px;
  background-color: #b9b5f1;
  border-radius: 5px;
  color: #2c2c54;
}
p {
  /* background: pink; */
  font-family: bold;
  /* outline: 1px solid white; */
}
